version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: lab5_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app       
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: lab5_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app      
    command: npx http-server -p 3000
    restart: unless-stopped
    depends_on:
      - backend
