{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Delivery details</h1>
    <p><strong class="data">Delivery id:</strong> <span class="data">{{ delivery.id }}</span></p>
    <p><strong class="data">Order id:</strong> <span class="data">{{ delivery.order.id }}</span></p>
    <p><strong class="data">First name:</strong> <span class="data">{{ delivery.order.user.first_name }}</span></p>
    <p><strong class="data">Last name:</strong> <span class="data">{{ delivery.order.user.last_name }}</span></p>
    <p><strong class="data">Product id:</strong> <span class="data">{{ delivery.order.product.id }}</span></p>
    <p><strong class="data">Product name</strong> <span class="data">{{ delivery.order.product.name }}</span></p>
    <p><strong class="data">Product price</strong> <span class="data">{{ delivery.order.product.price }}</span></p>
    <p><strong class="data">Product amount:</strong> <span class="data">{{ delivery.order.product.amount }}</span></p>
    <p><strong class="data">Total price:</strong> <span class="data">{{ delivery.order.total_price }}</span></p>
    <p><strong class="data">Date time:</strong> <span class="data">{{ delivery.order.date_time }}</span></p>
    <p><strong class="data">Order id:</strong> <span class="data">{{ delivery.order.id }}</span></p>
    <p><strong class="data">Country:</strong> <span class="data">{{ delivery.country }}</span></p>
    <p><strong class="data">City:</strong> <span class="data">{{ delivery.city }}</span></p>
    <p><strong class="data">Street:</strong> <span class="data">{{ delivery.street }}</span></p>
    <br>

    <h2 class="data">Edit delivery</h2>
    <form method="POST" action="{% url 'Delivery' delivery.id %}">
        {% csrf_token %}
        
        <div>
            <label class="data" for="order_id">Order id:</label>
            <input class="_input" type="number" name="order_id" id="order_id" value="{{ delivery.order.id }}" readonly>
        </div>
        
        <div>
            <label class="data" for="country">Country:</label>
            <input class="_input" type="text" name="country" id="country" value="{{ delivery.country }}">
        </div>
            
        <div>
            <label class="data" for="city">City:</label>
            <input class="_input" type="text" name="city" id="city" value="{{ delivery.city }}">
        </div>
            
        <div>
            <label class="data" for="street">Street:</label>
            <input class="_input" type="text" name="street" id="street" value="{{ delivery.street }}">
        </div>
        
        <button class="button_submit" type="submit">Edit</button>
    </form>
    
    <br><br>
    
    <form method="POST" action="{% url 'Delivery' delivery.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button class="button_delete" type="submit">Delete</button>
    </form>
    
    <br>
    <a href="{% url 'Deliveries list' %}">Back to deliveries</a>
</body>
</html>
