{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Products:</h1>
    
    <ul>
        {% for product in products %}
            <li>
                <strong class="data">{{ product.name }} {{ product.price }}</strong> - 
                <a href="{% url 'Product' product.id %}">Show details</a>
            </li>
        {% endfor %}
    </ul>
    <h2 class = 'data'>Add new product</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div>
            <label class = 'data' for="name">Name:</label>
            <input class = '_input'  type="text" name="name" id="name" required>
        </div>
        
        <div>
            <label class = 'data'for="info">Info:</label>
            <input class = '_input'  type="text" name="info" id="info">
        </div>
        
        <div>
            <label class = 'data'for="price">Price:</label>
            <input class = '_input'  type="text" name="price" id="price" required>
        </div>
        
        <div>
            <label class = 'data'for="amount">Amount:</label>
            <input class = '_input' type="number" name="amount" id="amount" required>
        </div>
        
        <div>
            <label class = 'data'for="discount">Discount id:</label>
            <input class = '_input' type="number" name="discount" id="discount">
        </div>
        
        <div>
            <button class="button_submit" type="submit">Add product</button>
        </div>
    </form>

    <br>

    <a href="{% url 'Home' %}" class="back_link">Back to home</a>
</body>
</html>