{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Product details</h1>
    <p><strong class="data">Product id:</strong> <span class="data">{{ product.id }}</span></p>
    <p><strong class="data">Name:</strong> <span class="data">{{ product.name }}</span></p>
    <p><strong class="data">Info:</strong> <span class="data">{{ product.info }}</span></p>
    <p><strong class="data">Price:</strong> <span class="data">{{ product.price }}</span></p>
    <p><strong class="data">Amount:</strong> <span class="data">{{ product.amount }}</span></p>
    <p><strong class="data">Discount id:</strong> <span class="data">{{ product.discount.id }}</span></p>
    <p><strong class="data">Discount value:</strong> <span class="data">{{ product.discount.value }}</span></p>
    <br>
    
    <h2 class="data">Edit product</h2>
    <form method="POST" action="{% url 'Product' product.id %}">
        {% csrf_token %}
        
        <div>
            <label class="data" for="name">Name:</label>
            <input class="_input" type="text" name="name" id="name" value="{{ product.name }}">
        </div>
            
        <div>
            <label class="data" for="info">Info:</label>
            <input class="_input" type="text" name="info" id="info" value="{{ product.info }}">
        </div>
            
        <div>
            <label class="data" for="price">Price:</label>
            <input class="_input" type="text" name="price" id="price" value="{{ product.price }}">
        </div>
            
        <div>
            <label class="data" for="amount">Amount:</label>
            <input class="_input" type="number" name="amount" id="amount" value="{{ product.amount }}">
        </div>
            
        <div>
            <label class="data" for="discount">Discount id:</label>
            <input class="_input" type="number" name="discount" id="discount" value="{{ product.discount.id }}">
        </div>
        
        <button class="button_submit" type="submit">Edit</button>
    </form>
    
    <br><br>
    
    <form method="POST" action="{% url 'Product' product.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button class="button_delete" type="submit">Delete</button>
    </form>
    
    <br>
    <a href="{% url 'Products list' %}">Back to products</a>
</body>
</html>
