{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Users:</h1>
    
    <ul>
        {% for user in users %}
            <li>
                <strong class="data">{{ user.first_name }} {{ user.last_name }}</strong> - 
                <a href="{% url 'User' user.id %}">Show details</a>
            </li>
        {% endfor %}
    </ul>
    <h2 class = 'data'>Add new user</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div>
            <label class = 'data' for="first_name">First Name:</label>
            <input class = '_input'  type="text" name="first_name" id="first_name" required>
        </div>
        
        <div>
            <label class = 'data'for="last_name">Last Name:</label>
            <input class = '_input'  type="text" name="last_name" id="last_name" required>
        </div>
        
        <div>
            <label class = 'data'for="phone_number">Phone number:</label>
            <input class = '_input'  type="text" name="phone_number" id="phone_number" required>
        </div>
        
        <div>
            <label class = 'data'for="email">Email:</label>
            <input class = '_input' type="text" name="email" id="email" required>
        </div>
        
        <div>
            <label class = 'data'for="password">Password:</label>
            <input class = '_input' type="text" name="password" id="password" required>
        </div>
        
        <div>
            <button class="button_submit" type="submit">Add user</button>
        </div>
    </form>

    <br>

    <a href="{% url 'Home' %}" class="back_link">Back to home</a>
</body>
</html>
