{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>User details</h1>
    <p><strong class="data">User id:</strong> <span class="data">{{ user.id }}</span></p>
    <p><strong class="data">First name:</strong> <span class="data">{{ user.first_name }}</span></p>
    <p><strong class="data">Last name:</strong> <span class="data">{{ user.last_name }}</span></p>
    <p><strong class="data">Phone number:</strong> <span class="data">{{ user.phone_number }}</span></p>
    <p><strong class="data">Email:</strong> <span class="data">{{ user.email }}</span></p>
    <p><strong class="data">Password:</strong> <span class="data">{{ user.password }}</span></p>
    <br>
    
    <h2 class="data">Edit user</h2>
    <form method="POST" action="{% url 'User' user.id %}">
        {% csrf_token %}
        
        <div>
            <label class="data" for="first_name">First Name:</label>
            <input class="_input" type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
        </div>
            
        <div>
            <label class="data" for="last_name">Last Name:</label>
            <input class="_input" type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
        </div>
            
        <div>
            <label class="data" for="phone_number">Phone number:</label>
            <input class="_input" type="text" name="phone_number" id="phone_number" value="{{ user.phone_number }}">
        </div>
            
        <div>
            <label class="data" for="email">Email:</label>
            <input class="_input" type="text" name="email" id="email" value="{{ user.email }}">
        </div>
            
        <div>
            <label class="data" for="password">Password:</label>
            <input class="_input" type="text" name="password" id="password" value="{{ user.password }}">
        </div>
        
        <button class="button_submit" type="submit">Edit</button>
    </form>
    
    <br><br>
    
    <form method="POST" action="{% url 'User' user.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button class="button_delete" type="submit">Delete</button>
    </form>
    
    <br>
    <a href="{% url 'Users list' %}">Back to users</a>
</body>
</html>

