{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li><a href="{% url 'Users list' %}">Users</a></li>
        <li><a href="{% url 'Products list' %}">Products</a></li>
        <li><a href="{% url 'Orders list' %}">Orders</a></li>
        <li><a href="{% url 'Discounts list' %}">Discounts</a></li>
        <li><a href="{% url 'Deliveries list' %}">Deliveries</a></li>
        <li><a href="{% url 'Users list nh' %}">Network Helper 'users'</a></li>
        <li><a href="{% url 'Aggreg requests' %}">Aggregational requests</a></li>
    </ul>

</body>
</html>
