{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Country-Expenses Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Country-Expenses Dashboard</h1>
    <br><br>
    <form method="get" class="form-with-border">
        <label class="data">Select Countries</label>
        <div>
        {% for country in countries %}
            <label>
                <input type="checkbox" name="countries" value="{{ country }}" 
                       {% if country in selected_countries %} checked {% endif %}/> 
                {{ country }}
            </label>
            <br>
        {% endfor %}
        </div>
        <br>
        <button class="button_submit" type="submit">Update Graphs</button>
    </form>
    <br><br>
    <div id="bar-chart">{{ bar_graph|safe }}</div>
    <br>
    <div id="pie-chart">{{ pie_graph|safe }}</div>
    <br>
    <div id="line-chart">{{ line_graph|safe }}</div>
    <br>

    <br>
    <a href="{% url 'Deliveries due to order' %}" class="back_link">Go Back</a>

      
</body>
</html>


