{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders with Revenue Over 500</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Filter Orders by Revenue Value</h1>
    <form method="get" action="">
        <label class="data" for="value">Minimum Revenue Value:</label>
        <input class="_input" type="number" id="value" name="value" value="{{ value }}">
        <button class="button_submit" type="submit">Filter</button>
    <center>
        <table border="1">
            <thead>
                <tr class="data">
                    <th>Index</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Total Revenue</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="data">
                        <td align="center">{{ order.index }}</td>
                        <td align="center">{{ order.user__first_name }}</td>
                        <td align="center">{{ order.user__last_name }}</td>
                        <td align="center">{{ order.total_spent }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

    <br>
    <div class="statistics" class="data">
        <h3>Statistics:</h3>
        <p><strong>Max:</strong> {{ stats.max|floatformat:2 }}</p>
        <p><strong>Min:</strong> {{ stats.min|floatformat:2 }}</p>
        <p><strong>Avg:</strong> {{ stats.avg|floatformat:2 }}</p>
        <p><strong>Median:</strong> {{ stats.median|floatformat:2 }}</p>
    </div>

    <br>
    <a href="{% url 'Aggreg requests' %}" class="back_link">Back to Requests</a>
</body>
</html>

