{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Discount Orders</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Users with Discounted Orders:</h1>
    <ul>
        {% for order in orders %}
            <li class="data">
                <strong>{{ order.user__first_name }} {{ order.user__last_name }}</strong>: 
                Ordered <em>{{ order.product__name }}</em> with 
                <strong>{{ order.product__discount_id__value }}%</strong> discount
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'Aggreg requests' %}" class="back_link">Back to Requests</a>
</body>
</html>
